.access-card {
  background-color: #ffffff;
  border-radius: 8px;
  margin: 20px;

  &--without-data {
    background-color: transparent;
    text-align: center;
  }

  &__content {
    padding: 20px;
  }

  &__heading {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ebeef1;
    padding-bottom: 20px;
  }

  &__heading-img {
    height: 23px;
    width: 22px;
    margin-right: 20px;

    & > img {
      object-fit: cover;
    }
  }

  &__heading-content {}

  &__password {
    color: #00aaff;
    font-size: 18px;
  }

  &__description {
    color: #828588;
    font-size: 14px;
  }

  &__owner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 20px;
  }

  &__owner-info {
    display: flex;
    flex-direction: row;
  }

  &__owner-avatar {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 20px;

    & > img {
      border-radius: 50%;
    }
  }

  &__owner-name {
    color: #303030;
    align-self: center;
  }

  &__owner-created-at {
    color: #828588;
    font-size: 14px;
    align-self: center;
  }

}