.loader {
  align-self: center;
  animation: spin 1s linear infinite;
  border-radius: 50%;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #ffc800;
  height: 60px;
  position: relative;
  width: 60px;
  z-index: 3000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
