$font-color-black: #303030;
$font-size-block-title: 20px;

$font-color-gray: #828588;
$font-size-base: 16px;

.point-card {
  overflow: auto;
  position: relative;
  width: 100%;

  &__back {
    border-radius: 8px;
    background-color: rgba(242, 246, 250, 0.9);
    color: #00aaff;
    margin: 10px;
    font-size: 14px;
    padding: 12px 12px 12px 40px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    right: 10px;

    &:before {
      content: url(/img/point-card/ic_arrow-left.png);
      position: absolute;
      height: 10px;
      width: 7px;
      left: 23px;
    }

    &:hover {
      cursor: pointer;
    }

    @media (min-width: 660px) and (max-width: 1000px) {
      width: 120px;
    }
  }

  // Photos
  &__photos {
    position: relative;

    height: 300px;

    @media only screen and (max-width: 1000px) {
      height: 200px;
    }

    &--loading {
      display: flex;
      justify-content: center;
    }
  }

  &__photos-count {
    background-color: rgba(#000000, 0.5);
    bottom: 20px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    right: 20px;
  }
  &__photo {
  }

  &__photo img {
    object-fit: cover;
    margin: 0 auto;

    @media only screen and (max-width: 1000px) {
      max-height: 200px;
    }

    @media (min-width: 440px) and (max-width: 660px) {
      width: 100%;
    }
  }

  &__photo-not-found {
    background-color: #c0c1c1;
    color: #2b2b2b;
    height: 300px;
    position: relative;

    @media only screen and (max-width: 1000px) {
      height: 200px;
    }

    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
    }
  }

  &__info {
  }
  &__info-list {
  }
  &__info-item {
    border-bottom: 1px solid rgba(#000000, 0.1);
    color: $font-color-gray;
    display: flex;
    font-size: $font-size-base;
    padding: 25px;
    align-items: center;
  }

  &__info-img {
    align-self: flex-start;
  }

  &__info-content {
    margin-left: 25px;
    flex: 1;
  }

  &__info-content--thumb {
    margin-left: 58px;
  }

  &__place-block {
  }
  &__place-block-name {
    color: $font-color-black;
    font-size: $font-size-block-title;
    font-weight: bold;
    margin-bottom: 12px;
  }

  &__place-block-address {
    display: inline-block;
  }

  &__wifi-block {
  }
  &__wifi-block-name {
    color: $font-color-black;
    font-size: $font-size-block-title;
    font-weight: bold;
  }

  &__wifi-block-name + &__wifi-block-connections,
  &__wifi-block-name + &__wifi-block-last-connect {
    margin-top: 12px;
  }

  &__wifi-block-connections,
  &__wifi-block-last-connect {
    display: block;
  }

  &__network-block {
    display: flex;
    justify-content: space-between;
  }

  &__network-block-param {
    display: inline-block;
    position: relative;
    padding-left: 26px;
  }

  &__network-block-param-icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__network-block-param-value {
    color: $font-color-black;
    font-weight: bold;
  }
}
