$g-border-radius: 8px;
$fs16: 16px;

$c-btn: #81cf35;
$c-link: #00aaff;
$c-store-info: #828588;

.app-card {
  background-color: #ffffff;
  border-radius: $g-border-radius;
  margin: 20px auto;
  max-width: 380px;
  padding: 20px;

  &__icon,
  &__store-info,
  &__btn-download {
    display: inline-block;
    vertical-align: top;
  }

  &__icon {
    height: 50px;
    width: 50px;
  }

  &__store-info {
    color: $c-store-info;
    font-size: 14px;
    margin-left: 15px;
    width: 160px;
  }

  &__link {
    color: $c-link;
    display: block;
    font-size: $fs16;
  }

  &__rating {
    display: inline;
  }

  &__btn-download {
    background-color: $c-btn;
    border-radius: $g-border-radius;
    color: #ffffff;
    font-size: $fs16;
    padding: 15px 25px 15px 45px;
    position: relative;

    &:before {
      content: url(/img/app-card/ic_download.png);
      height: 17px;
      width: 12px;
      position: absolute;
      left: 25px;
    }
  }
}
