.gm-style-iw {
  overflow: visible !important;
}

.marker-info {
  display: flex;
  align-items: flex-start;

  &__category {
    background-color: #00a6ff;
    bottom: -8px;
    left: -14px;
    position: absolute;
    top: -8px;
    width: 60px;

    & .i--category {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
  }

  &__content {
    font-weight: 400;
    padding: 2px 0 1px 60px;
  }

  &__name {
    color: #303030;
    font-size: 16px;
    font-weight: 600;
  }

  &__address {
    color: #525253;
    font-size: 14px;
  }
}

// Google InfoWindow rewrite styles

/*style the box*/
//.gm-style .gm-style-iw {
//  background-color: #FFFFFF !important;
//  top: 0 !important;
//  left: 0 !important;
//  width: 100% !important;
//  height: auto !important;
//  min-height: 60px !important;
//  padding-top: 0px;
//  display: block !important;
//}
//
///*style the p tag*/
//.gm-style .gm-style-iw #google-popup p{
//  padding: 10px;
//}
//
//
///*style the arrow*/
//.gm-style div div div div div div div div {
//  background-color: #FFFFFF !important;
//  padding: 0;
//  margin: 0;
//  padding: 0;
//  top: 0;
//  color: black;
//  font-size: 16px;
//}
//
