.promo {
  background: #1c1c1c url('/img/bg.jpg') center center no-repeat / cover;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 420px;
  height: 90vh;
  padding: 18vh 20px 80px;
  position: relative;
  z-index: 3;

  @media (min-width: 1200px) {
    padding-top: 200px;
    height: 810px;
  }

  &__container {
    max-width: 780px;
    position: relative;
    width: 100%;
  }

  &__content {
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    margin: 0 auto 50px;
    max-width: 650px;
    text-align: center;

    strong {
      font-weight: 900;
    }
  }

  &__search {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 4;
  }

  &__title {
    font-size: 50px;
    margin-bottom: 0.7em;
    font-weight: 900;
    line-height: 1.28;

    @media only screen and (max-width: 768px) {
      font-size: 28px;
    }
  }
  &__desc {
  }
}

//.main-promo {
//  position: relative;
//  color: #fff;
//  text-align: center;
//  padding-top: 248px;
//  overflow: hidden;
//}
//
//.main-promo__parallax-bg {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  min-height: 100%;
//  /*top: -100%;*/
//  overflow: hidden;
//}
//
//.main-promo__parallax-bg--content {
//  z-index: 0;
//}
//
//.main-promo__parallax-bg-image {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  -moz-background-size: cover;
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-position: center center;
//}
//
//.main-promo .wrap {
//  z-index: 2;
//}
//
//.main-promo__bg {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  -moz-background-size: cover;
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-position: center center;
//  display: none;
//  opacity: 0.4;
//}
//
//.main-promo__parallax-bg {
//  z-index: 1;
//}
//
//.main-promo__parallax-bg.skrollable {
//  overflow: hidden;
//}
//
//.main-promo__parallax-bg.skrollable.skrollable-between {
//  overflow: visible;
//}
//
//.main-promo__parallax-bg-overlay {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  background-color: #009aee;
//  opacity: 0;
//  z-index: 2;
//}
//
//.main-promo__image {
//  margin-top: 77px;
//  font-size: 0;
//  text-align: left;
//  margin-left: -60px;
//  pointer-events: none;
//}
//
//.main-promo__layer {
//  max-width: 150%;
//}
//
//.main-promo__layer--l1 {
//  position: absolute;
//  left: 0;
//  bottom: -50px;
//  z-index: 2;
//}
//
//.main-promo__layer--l2 {
//  margin-left: -150px;
//  z-index: 2;
//}
//
//.main-promo__title {
//  font-weight: 900;
//  display: block;
//  font-size: 42px;
//  line-height: 1.2em;
//  margin-bottom: 0.55em;
//  z-index: 2;
//}
//
//.main-promo__title span {
//  background-color: #ffc800;
//  padding: 0 10px;
//  margin-left: -10px;
//  position: relative;
//  right: -10px;
//  margin-right: 20px;
//}
//
//.main-promo__title span:first-child {
//  margin-left: -18px;
//}
//
//.main-promo__title span {
//  background-color: #ffc800;
//  padding: 0 10px;
//  margin-left: -10px;
//  position: relative;
//  right: -10px;
//  margin-right: 20px;
//}
//
//.main-promo__title span:first-child {
//  margin-left: -18px;
//}
//
//@media only screen and (max-width: 1000px) {
//  .main-promo__title {
//    font-size: 28px;
//  }
//}
//
//.main-promo__text {
//  color: #fff;
//  margin-bottom: 0;
//  z-index: 2;
//}
//
//.main-promo__text,
//.main-promo__text p {
//  line-height: 1.7em;
//}
//
//@media only screen and (max-width: 1000px) {
//  .main-promo {
//    background-color: #009aee;
//    padding-bottom: 150px;
//    padding-top: 180px;
//  }
//
//  .main-promo__bg {
//    display: block;
//  }
//
//  .main-promo__parallax-bg {
//    display: none;
//  }
//
//  .main-promo__layer {
//    display: none;
//  }
//
//  .main-promo__layer--l2 {
//    margin: 0 auto;
//  }
//}
