$font-color-black: #303030;
$font-size-block-title: 20px;

$font-color-gray: #828588;
$font-size-base: 16px;

.map-places {
  display: flex;
  justify-content: center;

  &__item {
    display: block;
  }
}

.map-places-item {
  padding: 20px;
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
  cursor: pointer;
  color: $font-color-gray;
  display: flex;
  font-size: $font-size-base;

  &__content {
    width: 100%;
  }

  &__img + &__content {
    margin-left: 25px;
  }

  &__place {
    border-bottom: 1px solid rgba(140, 140, 140, 0.2);
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

  &__place-name {
    color: $font-color-black;
    font-size: $font-size-block-title;
    font-weight: bold;
    margin-bottom: 12px;
  }

  &__place-address {
    display: inline-block;
  }

  // Wifi info
  &__wifi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__wifi-name {
    background-color: #c4cacf;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 30px 10px 15px;
    position: relative;
    white-space: nowrap;

    &:before {
      content: url('/img/point-list/ic_place_wifi.png');
      margin-right: 5px;
    }
  }

  &__wifi-params {
    margin-left: auto;
    //text-align: right;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__meta {
    margin: 0 7.5px;
    padding-left: 15px;
    position: relative;
    white-space: nowrap;

    &:before {
      content: '';
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
  }

  &__meta--speed:before {
    content: url('/img/point-list/ic_place_network_speed.png');
  }

  &__meta--date:before {
    content: url('/img/point-list/ic_place_outdate.png');
    height: 13px;
    width: 13px;
  }
}

// Add fake data notifier
.fake-data {
  outline: 1px dashed salmon;
}
