.i {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;

  &--category {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #99d85a;
    height: 38px;
    width: 38px;
  }
}
