.overlay {
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(
      left,
      rgba(24, 176, 255, 0) 0%,
      rgba(24, 176, 255, 0) 1%,
      #18b0ff 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(24, 176, 255, 0) 0%,
      rgba(24, 176, 255, 0) 1%,
      #18b0ff 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(24, 176, 255, 0)),
      color-stop(1%, rgba(24, 176, 255, 0)),
      to(#18b0ff)
    );
    background: -o-linear-gradient(
      left,
      rgba(24, 176, 255, 0) 0%,
      rgba(24, 176, 255, 0) 1%,
      #18b0ff 100%
    );
    background: linear-gradient(
      to right,
      rgba(24, 176, 255, 0) 0%,
      rgba(24, 176, 255, 0) 1%,
      #18b0ff 100%
    );
    filter: 'progid:DXImageTransform.Microsoft.gradient( startColorstr=' #0018b0
      ', endColorstr=' #18b0ff ',GradientType=1 )';
    opacity: 0.5;
    pointer-events: none;
  }
}

.map-container {
  height: 100vh;
  @media only screen and (max-width: 1000px) {
    height: 40vh;
  }
}

.map__loading,
.map__element {
  height: 100%;
}
