$font-color-black: #303030;
$font-size-block-title: 20px;

$font-color-gray: #828588;
$font-size-base: 16px;

.map-places-item {
  padding: 25px;
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
  cursor: pointer;
  color: $font-color-gray;
  font-size: $font-size-base;


  &__img,
  &__content {
    display: inline-block;
    vertical-align: top;
  }

  &__content {
    margin-left: 25px;
    max-width: 305px;
    width: 100%;
  }

  &__place{
    border-bottom: 1px solid rgba(140, 140, 140, 0.2);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  &__place-name {
    color: $font-color-black;
    font-size: $font-size-block-title;
    font-weight: bold;
    margin-bottom: 12px;
  }

  &__place-address {
    display: inline-block;
  }


  // Wifi info
  &__wifi {

  }

  &__wifi-params,
  &__wifi-speed,
  &__wifi-last-update {
    display: inline-block;
  }


  &__wifi-name {
    color: $font-color-black;
    font-size: $font-size-block-title;
    font-weight: bold;
    margin-bottom: 12px;
    width: 50%;
  }

  &__wifi-params {
    margin-left: -4px; //Fix gap;
    text-align: right;
    width: 50%;
  }

  &__wifi-speed {
    &:before {
      content: url('/img/point-card/ic_download.png');
    }
  }

}

// Add fake data notifier
.fake-data {
  outline: 1px dashed salmon;
}