.search {
  position: relative;

  & svg {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__input {
    color: #303030;
    font-size: 20px !important;
    padding-left: 60px !important;
    border-radius: 5px !important;
    border: none !important;
  }

  &__result {
    background-color: #fff;
    margin-top: -5px;
    padding-top: 5px;
    border-radius: 0 0 6px 6px;
  }

  &__result-item {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 3%;
    transition: background-color, 0.3s;
    cursor: pointer;

    svg {
      margin-right: 2%;
      align-self: flex-start;
      margin-top: 17px;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #f2f6fa;
    }

    &--error {
      cursor: default;

      &:hover,
      &:active,
      &:focus {
        background-color: #fff;
      }
    }
  }
}

.panel {
  color: #828588;

  &__title {
    font-size: 16px;
    margin-bottom: 5px;

    strong {
      color: #303030;
    }
  }
  &__desc {
    font-size: 14px;
  }
}
