$starUrl: '/img/app-card/ic_star.svg';
$starFullUrl: '/img/app-card/ic_star-full.svg';

.rating {
  display: inline-block;
  position: relative;


  &__star {
    display: inline-block;
    height: 15px;
    width: 15px;

    &:before {
      content: url($starUrl);
    }
  }

  &__star--full {

    &:before {
      content: url($starFullUrl);
    }
  }

  &__star--half {

    &:before {
      height: 15px;
      width: 7.5px;
      display: inline-block;
      content: " ";
      background-image: url($starFullUrl);
      background-position: left;
    }

    &:after {
      background-image: url($starUrl);
      background-position: right;
      content: " ";
      display: inline-block;
      height: 15px;
      width: 7.5px;
    }
  }
}